# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.env/
.venv/

# Build artifacts
build/
dist/
*.whl

# Flatpak build artifacts
.flatpak-builder/
repo/
*.flatpak

# OS/editor
.DS_Store
*.swp
*.swo

# Logs
*.log
